
.done{
    text-align: center;
    margin-left: -630px;
}

.d1{
    border-radius: 100px;
    border-style: none;
}

.d2{
    border-radius: 100px;
    background-color: white;
    color: black;
    border-style: none;
}

.d3{
    border-radius: 100px;
    background-color: white;
    color: black;
    border-style: none;
}

.d4{
    border-radius: 100px;
    background-color: white;
    color: black;
    border-style: none;
}
